In [ ]:
import pandas as pd 
import numpy as np

df = pd.read_csv("../data/raw/wages_productivity_data.csv")
df.info()
df.head(10)
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     182 non-null    object
 1   Productivity                   182 non-null    float64
 2   Real Hourly Compensation       182 non-null    float64
 3   Hourly Compensation (Nominal)  182 non-null    float64
 4   Labor Share                    182 non-null    float64
 5   Unit Labor Costs               182 non-null    float64
 6   Hours Worked                   182 non-null    float64
dtypes: float64(6), object(1)
memory usage: 10.1+ KB

,Productivity,Real Hourly Compensation,Hourly Compensation (Nominal),Labor Share,Unit Labor Costs,Hours Worked
count,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000
mean,78.759698,88.276610,70.283236,105.481692,2.259890,1.150000
std,20.623338,12.214501,31.629992,5.040600,4.490024,5.264357
min,49.122000,69.736000,23.716000,96.554000,-14.300000,-44.500000
25%,59.175250,76.881000,43.595750,100.053750,0.125000,0.000000
50%,77.800500,90.207000,66.359000,107.060500,2.000000,1.600000
75%,96.423500,96.550750,91.734750,109.866250,3.900000,2.600000
max,116.143000,112.561000,143.369000,113.626000,16.700000,37.300000

In [4]:
import pandas as pd

df = pd.read_csv("../data/raw/fred/macro_demographs.csv")
df.info()
df.head(10)
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 548 entries, 0 to 547
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    548 non-null    object
 1   Average Weekly Earnings All   234 non-null    float64
 2   Median Weekly Earnings Men    45 non-null     float64
 3   Median Weekly Earnings Women  45 non-null     float64
 4   Employment Pop Ratio          548 non-null    float64
 5   Labor Force Participation     548 non-null    float64
 6   Unemployment Rate Men         548 non-null    float64
 7   Unemployment Rate Women       548 non-null    float64
dtypes: float64(7), object(1)
memory usage: 34.4+ KB

,Average Weekly Earnings All,Median Weekly Earnings Men,Median Weekly Earnings Women,Employment Pop Ratio,Labor Force Participation,Unemployment Rate Men,Unemployment Rate Women
count,234.000000,45.000000,45.000000,548.000000,548.000000,548.000000,548.000000
mean,26.474701,623.800000,333.355556,60.959489,64.871533,6.136861,5.916606
std,4.574997,238.763253,17.729220,2.063366,1.715589,1.927552,1.721675
min,20.050000,262.000000,312.000000,51.200000,60.100000,3.500000,3.300000
25%,22.870000,426.000000,317.000000,59.375000,63.175000,4.600000,4.600000
50%,25.250000,608.000000,333.000000,60.800000,65.400000,5.700000,5.600000
75%,29.700000,776.000000,341.000000,62.700000,66.400000,7.200000,7.125000
max,36.530000,1159.000000,380.000000,64.700000,67.300000,13.500000,16.200000