Responsibilities:
- Merge productivity index with median hourly compensation.
- Convert to real 2025 USD.
- Plot ratio + % divergence since 1970.

In [1]:
import pandas as pd 

df = pd.read_csv("../data/raw/wages_productivity_data.csv")
df.info()
df.head(10)
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     182 non-null    object
 1   Productivity                   182 non-null    float64
 2   Real Hourly Compensation       182 non-null    float64
 3   Hourly Compensation (Nominal)  182 non-null    float64
 4   Labor Share                    182 non-null    float64
 5   Unit Labor Costs               182 non-null    float64
 6   Hours Worked                   182 non-null    float64
dtypes: float64(6), object(1)
memory usage: 10.1+ KB

,Productivity,Real Hourly Compensation,Hourly Compensation (Nominal),Labor Share,Unit Labor Costs,Hours Worked
count,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000
mean,78.759698,88.276610,70.283236,105.481692,2.259890,1.150000
std,20.623338,12.214501,31.629992,5.040600,4.490024,5.264357
min,49.122000,69.736000,23.716000,96.554000,-14.300000,-44.500000
25%,59.175250,76.881000,43.595750,100.053750,0.125000,0.000000
50%,77.800500,90.207000,66.359000,107.060500,2.000000,1.600000
75%,96.423500,96.550750,91.734750,109.866250,3.900000,2.600000
max,116.143000,112.561000,143.369000,113.626000,16.700000,37.300000