In [2]:
import pandas as pd 
macro = pd.read_csv("../data/raw/fred/wages_productivity_data.csv")
demo = pd.read_csv("../data/raw/fred/macro_demographs.csv")

print (macro.shape, demo.shape)
macro.head(3)

(182, 7) (548, 8)

,Unnamed: 0,Productivity,Real Hourly Compensation,Hourly Compensation (Nominal),Labor Share,Unit Labor Costs,Hours Worked
0,1980-01-01,49.639,69.736,23.716,111.222,9.6,-1.0
1,1980-04-01,49.122,69.905,24.356,112.240,16.0,-7.0
2,1980-07-01,49.316,69.984,24.973,112.849,8.8,-1.8

In [ ]:
macro = pd.read_csv("../data/raw/fred/wages_productivity_data.csv", parse_dates=["Unnamed: 0"])
macro = macro.rename(columns={"Unnamed: 0": "Date"})
macro.set_index("Date", inplace=True)

macro.info()
macro.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 182 entries, 1980-01-01 to 2025-04-01
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Productivity                   182 non-null    float64
 1   Real Hourly Compensation       182 non-null    float64
 2   Hourly Compensation (Nominal)  182 non-null    float64
 3   Labor Share                    182 non-null    float64
 4   Unit Labor Costs               182 non-null    float64
 5   Hours Worked                   182 non-null    float64
dtypes: float64(6)
memory usage: 10.0 KB

,Productivity,Real Hourly Compensation,Hourly Compensation (Nominal),Labor Share,Unit Labor Costs,Hours Worked
Date,,,,,,
1980-01-01,49.639,69.736,23.716,111.222,9.6,-1.0
1980-04-01,49.122,69.905,24.356,112.240,16.0,-7.0
1980-07-01,49.316,69.984,24.973,112.849,8.8,-1.8

In [9]:
import pandas as pd

demo = pd.read_csv("../data/raw/fred/macro_demographs.csv", parse_dates=["Unnamed: 0"])
demo = demo.rename(columns={"Unnamed: 0": "Date"})
demo.set_index("Date", inplace=True)
demo.info()
demo.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 548 entries, 1980-01-01 to 2025-08-01
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Average Weekly Earnings All   234 non-null    float64
 1   Median Weekly Earnings Men    45 non-null     float64
 2   Median Weekly Earnings Women  45 non-null     float64
 3   Employment Pop Ratio          548 non-null    float64
 4   Labor Force Participation     548 non-null    float64
 5   Unemployment Rate Men         548 non-null    float64
 6   Unemployment Rate Women       548 non-null    float64
dtypes: float64(7)
memory usage: 34.2 KB

,Average Weekly Earnings All,Median Weekly Earnings Men,Median Weekly Earnings Women,Employment Pop Ratio,Labor Force Participation,Unemployment Rate Men,Unemployment Rate Women
Date,,,,,,,
1980-01-01,NaN,262.0,318.0,60.0,64.0,5.8,6.9
1980-02-01,NaN,NaN,NaN,60.0,64.0,5.8,7.0
1980-03-01,NaN,NaN,NaN,59.7,63.7,5.9,6.9

In [11]:
import pandas as pd

macro = pd.read_csv("../data/raw/fred/wages_productivity_data.csv", parse_dates=["Unnamed: 0"])
macro = macro.rename(columns={"Unnamed: 0": "Date"})
macro.set_index("Date", inplace=True)
print(f"Macro dataset: {macro.shape[0]} rows | {macro.shape[1]} columns")

demo = pd.read_csv("../data/raw/fred/macro_demographs.csv", parse_dates=["Unnamed: 0"])
demo = demo.rename(columns={"Unnamed: 0": "Date"})
demo.set_index("Date", inplace=True)
print(f"Demo dataset: {demo.shape[0]} rows | {demo.shape[1]} columns")

macro_q = macro.resample("Q").mean()
demo_q = demo.resample("Q").mean()

merged = macro_q.join(demo_q, how="inner")

print("\n Merge Completed")
print(f"Merged shape: {merged.shape[0]} rows | {merged.shape[1]} columns")
print("\nColumns:", list(merged.columns))
print("\nDate range:", merged.index.min().date(), "to", merged.index.max().date())

merged.to_csv("../data/merged/fred_merged/wages_demogr_merged.csv")
print("\n Saved merged file to ../data/merged/fred_merged/wages_demogr_merged.csv")

merged.head(10)

Macro dataset: 182 rows | 6 columns
Demo dataset: 548 rows | 7 columns

 Merge Completed
Merged shape: 182 rows | 13 columns

Columns: ['Productivity', 'Real Hourly Compensation', 'Hourly Compensation (Nominal)', 'Labor Share', 'Unit Labor Costs', 'Hours Worked', 'Average Weekly Earnings All', 'Median Weekly Earnings Men', 'Median Weekly Earnings Women', 'Employment Pop Ratio', 'Labor Force Participation', 'Unemployment Rate Men', 'Unemployment Rate Women']

Date range: 1980-03-31 to 2025-06-30

 Saved merged file to ../data/merged/fred_merged/wages_demogr_merged.csv

C:\Users\psull\AppData\Local\Temp\ipykernel_38172\3005979045.py:13: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  macro_q = macro.resample("Q").mean()
C:\Users\psull\AppData\Local\Temp\ipykernel_38172\3005979045.py:14: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  demo_q = demo.resample("Q").mean()

,Productivity,Real Hourly Compensation,Hourly Compensation (Nominal),Labor Share,Unit Labor Costs,Hours Worked,Average Weekly Earnings All,Median Weekly Earnings Men,Median Weekly Earnings Women,Employment Pop Ratio,Labor Force Participation,Unemployment Rate Men,Unemployment Rate Women
Date,,,,,,,,,,,,,
1980-03-31,49.639,69.736,23.716,111.222,9.6,-1.0,NaN,262.0,318.0,59.900000,63.900000,5.833333,6.933333
1980-06-30,49.122,69.905,24.356,112.240,16.0,-7.0,NaN,NaN,NaN,59.133333,63.800000,7.233333,7.433333
1980-09-30,49.316,69.984,24.973,112.849,8.8,-1.8,NaN,NaN,NaN,58.833333,63.700000,7.700000,7.633333
1980-12-31,49.817,70.191,25.637,112.240,6.7,5.5,NaN,NaN,NaN,58.966667,63.700000,7.200000,7.633333
1981-03-31,50.584,70.001,26.281,109.901,3.9,2.3,NaN,284.0,312.0,59.233333,63.966667,7.200000,7.733333
1981-06-30,49.930,69.905,26.736,111.008,12.8,0.3,NaN,NaN,NaN,59.366667,64.066667,7.166667,7.733333
1981-09-30,50.397,70.036,27.330,110.118,5.2,-0.2,NaN,NaN,NaN,58.966667,63.700000,7.100000,7.833333
1981-12-31,49.862,69.974,27.778,111.090,11.4,-1.7,NaN,NaN,NaN,58.533333,63.766667,8.100000,8.400000
1982-03-31,49.612,70.947,28.506,113.136,13.2,-6.6,NaN,302.0,313.0,58.166667,63.766667,8.866667,8.766667
1982-06-30,49.626,70.748,28.727,112.536,3.0,1.9,NaN,NaN,NaN,57.966667,64.000000,9.533333,9.266667